body {
    font-family : Calibri;
}

p{
	line-height: 1.8;
    font-size: 22px;
    font-family : Calibri;
}

.center {
    text-align: center;
    line-height: 2.2;
}

.bottom {
    vertical-align: bottom;
}

div {
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 140px;
  
}
.heading {
  line-height: 2.2;
}
p.content {
  line-height: 1.8;
}
