<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8"></meta>
		<link rel="stylesheet" type="text/css" th:href="@{classpath:css/style.css}" />
    </head>

    <body>
    <div>
    <div class="center">
	         <span style="font-weight: bold; font-style: italic; font-size: 38px">Certificate of Participation<br/></span>
	         <span style="font-size: 22px;">Presented to<br/></span>
	         <span style="font-weight: bold; font-size: 32px" th:text="${name}"></span>
	</div>
    <p>
		For successful completion of Online <b>Pre Education Program (PEP)</b>
		conducted by <b>EPAM Systems India Pvt Ltd</b> from <span style="font-weight: bold; font-style: italic;" 
		th:text="${startDate}"></span> to <span style="font-weight: bold; font-style: italic;" th:text="${endDate}"></span>. 
		"<span th:text="${topics}"></span>" beginner level modules were covered as part of the
		program, over 14 online webinars, with hands-on technical tasks.
	</p><br/>
	<table class="table">
    <tr>
        <td><p>Date: <span th:text="${presentDate}"></span></p></td>
        <td style="padding-left: 210px;"><img style="width:230px;height:140px;" th:src="@{classpath:signature.png}" /></td>
    </tr>
    </table>
    </div>
    </body>
</html>